html,
body {
  height: 100%;
}

.bar-header {
  background-color: $primaryDark;
  padding: rem(10px) rem(15px);
  position: fixed; /* 고정 위치 */
  left: 0; /* 화면의 왼쪽 끝에 고정 */
  top: 0; /* 상단에 위치 */
  width: 60px; /* 너비 조정 (필요에 따라 조정) */
  height: 100vh; /* 전체 높이를 차지 */
  z-index: 10;
  transition: top 0.5s, left 0.3s ease, background-color 0.5s, box-shadow 0.5s;

  /* logo와 검색 아이콘은 숨김 */
  .logo,
  .dosearch,
  .get-theme {
    display: none;
  }

  /* icon-menu 스타일 */
  .icon-menu {
    position: absolute; /* 절대 위치 설정 */
    top: 10%; /* 상단에서 30% 위치 */
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    left: 50%;
    float: left;
    cursor: pointer;
    width: rem(30px);
    height: rem(30px);
    fill: $accentDark;
    padding: rem(5px);
    &:hover {
      border: 1px solid gray; /* hover 시 흰색 테두리 */
      border-radius: 2px;
    }
  }
}

body.main-page {
  background-color: #141414;

  .bar-header {
    background-color: rgba(44, 41, 41, 1);
  }
}

body.light:not(.main-page) {
  .bar-header {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95);

    .icon-search,
    .icon-menu {
      fill: $primaryDark;
    }

    .logo a,
    .version {
      color: $primaryDark;
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 17;
  opacity: 0;
  transition: all 0.3s;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }
}
